@{
    Layout = "_Layout";
}

<h2>Login</h2>

<form method="post">
    <label>Username</label>
    <input type="text" name="username" />

    <br /><br />

    <label>Role</label>
    <input type="text" name="role" />

    <br /><br />

    <button type="submit">Login</button>
</form>